*{
    margin:0;padding:0; box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css?family=Roboto$display=swap');

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container__itens{
    padding: 100px 30px 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
      
}

.header{
    background: linear-gradient(180deg, #3D81A0 52.6%, #327559 100%);
    display: flex;
    justify-content: center;
    color: white;
    min-width: 100px;
    min-height: 100vh;
}
.titulo{
    justify-content: center;
    text-align: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif; 
    padding: 10px 20px;
}
.paragrafo{
    text-align: center;
    max-width: 500px;
    margin:0 auto;
    font-family: 'Roboto', sans-serif; 
    padding: 10px 20px;
}
.btn{
    text-decoration: none;
    width: 298px;
    height: 86px;
    background:  rgba(0, 0, 0, 0.59);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif; 
}
.btn p{
    width: 100%;
    text-align: center;
    color: #fff;
}
.botoes>a{
    margin: 13px 450px 20px 450px;
}
.navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    /*position: absolute;
    left: 300px;
    top: 30px;*/
    list-style-type: none;    
}
.menu__hmb-itens{
    display: none;
}
.menu__hmb{
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
}
.hamb>a{
    display: none;
}
@media(max-width: 900px){
    .menu{
    display: none;
    }
    .menu__hmb{
        display: inline;
    }
    .logo{
        padding: 20px 30px !important;
    }
    .navegacao{
        display: block;
    }
    .hamb>a{
        border-bottom: 1px solid white;
        padding: 10px;
        text-align: center;
        display: block ;
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
}
.menu__lista>a{
    padding: 0 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    font-family: 'Roboto', sans-serif; 
}
@media(max-width: 1142px){
    .menu__lista>a{
        padding: 0 10px;
    }
    .logo{
        padding: 20px 500px;
    }
    .container{
        max-width: 800px;
    }
    .botoes>a{
        margin: 13px auto 20px auto;
    }
}
.logo{
    padding: 20px 90px;
}
.plant{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.uml{
    font-family: 'Crete Round', serif;
    font-style: italic;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0 0 0 60px;
}
.main__flexBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.main__flexGradiente{
    display: flex;
    flex-direction: row-reverse;
}



/* Main */


.main__titulo{
    
    font-family: 'Roboto' , 'sans-serif';
    font-style: normal;
    text-align: center;
    float: left;
    font-weight: bold;
    font-size: 42px;
    line-height: 120px;
   

}

@media(max-width: 600px){
    .main__titulo{
        font-size: 25px;   
        text-align: center;
        float: none; 
        padding-left: 5px;
        line-height: 100px;
          
    }
}

.main__paragrafo{
    
    font-family: 'Roboto' , 'sans-serif';
    text-align: justify;
    font-size: 20px;
    float: unset;
    font-weight: normal;
    line-height: 30px;
    max-width: 400px;
    padding: 0 20px; 
}
@media(max-width: 620px){
    .main__paragrafo{
        font-size: 20px;
        line-height: 25px;
    }
}


.main__codigo{
    font-family: 'Roboto' , 'sans-serif';
    text-align: justify;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    max-width: 325px;   
    padding: 0 50px;
    margin: 30px 0;
}


@media(max-width: 620px){
    .main__codigo{
        font-style: italic;
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        text-align: justify;
        padding-left: 55px;
    }
}

.main__image--diagram{

    max-height: 300px;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 30px;

}
@media(max-width: 620px){
    .main__image--diagram{
        max-height: 250px;
        max-width: 250px;
        
    }
}


    .bgc__gradiente01{
        background: linear-gradient(180deg, #327559 0%, #3F83A2 57.81%);
        
    }
    .bgc__gradiente02{
        background: linear-gradient(180deg, #3F83A2 0%,  #327559 100%);

        
    }

    @media(max-width: 1085px){
        .container{
            flex-direction: column;
        }
        .main__paragrafo{
            max-width: 650px;

        }
        .main__codigo{
            max-width: 500px;
        }
        
    }

.footer{
    background: linear-gradient(180deg, #3D9771 0%, #3F83A2 80.21%);
    display:flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer__text{
    font-size:30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__text:hover{
    color: rgb(197, 197, 197);
    cursor:pointer;   
}

.footer__logo{
    display:block;
    width: 325px;
    height: 325px;
    margin: 0 auto;
}
.footer__donates{
    display:block;
    width: 300px;
    padding-left: 10px;
}
@media(min-width:620px){
    .footer__donates{
        display:inline-flex;
        
        
    }
}

.footer__donates--donate{
    background-color: #FFFFFF;
    height: 50px;
    display:flex;
    align-items: center;
    align-content: center;
    max-width: 130px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 10px

}
.footer__donates--donate:hover{
    background-color: rgb(197, 197, 197);
    cursor:pointer;
}
.footer__donates--donate-img{
    display: block;
    width: 40px;
    margin-left: 10px;
}
.footer__donates--donate-text{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.footer__textLink{
    display: flex;
    flex-direction: column;
    color:white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    width: 250px;
    text-align: right;
    align-self: flex-end;
    float: right;

}

.footer__textLink >p:hover{
    color: rgb(197, 197, 197);
    cursor:pointer;
}
.footer__items{
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;
}

@media(min-width:620px){
    .footer__items{
        flex-direction: row;
        justify-content: space-between;
        margin-right:20px;
        
    }
}
