*{
    margin:0;padding:0; box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    background: linear-gradient(180deg, #3D9771 0%, #3F83A2 80.21%);
    display:flex;
    flex-direction: column;
}

.footer__text{
    font-size:35px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__logo{
    display:block;
    width: 355px;
    height: 325px;
    margin: 0 auto;
}
.footer__donates{
    display:block;
    width: 300px;
}

.footer__donates--donate{
    background-color: #FFFFFF;
    height: 50px;
    display:flex;
    align-items: center;
    align-content: center;
    max-width: 130px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;

}
.footer__donates--donate:hover{
    background-color: rgb(197, 197, 197)
}
.footer__donates--donate-img{
    display: block;
    width: 40px;
    margin-left: 10px;
}
.footer__donates--donate-text{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}
.footer__textLink{
    display: flex;
    flex-direction: column;
    color:white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    width: 200px;
    text-align: right;
    align-self: flex-end;

}
.footer__items{
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;

}

